@{
    ViewBag.Title = "Giới thiệu trang web";
    Layout = "~/Views/Shared/Layout_Empty.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <h5>GIỚI THIỆU VỀ TRANG WEB</h5>
    </div>
    <div class="card-body">
        <p>
            Trang web được thiết kế để quản lý tour du lịch của một công ty. Cung cấp các tour của công ty đến với khách hàng, thông qua website khách hàng có thể đăng ký đặt tour, đăng ký làm thành viên và gửi phản hồi đóng góp về Website.
            Website trở thành công cụ để công ty quản lý các tour, hóa đơn và những phản hồi từ khách hàng.
        </p>
        <p>
        <p><b>Các chức năng của Website</b></p>
        <p><i>Khách hàng:</i></p>
        <ul>
            <li>Có thể xem danh sách các tour đang mở, xem chi tiết từng tour, đăng ký tour khi muốn tham gia.</li>
            <li>Tìm kiếm các tour theo các tiêu chí: trong nước, ngoài nước, theo giá tour, …</li>
            <li>Có thể đăng ký tham gia là thành viên của website để nhận các ưu đãi.</li>
            <li>Phản hồi đóng góp ý kiến cho website khi là thành viên.</li>
        </ul>
        <p><i>Quản trị:</i></p>
        <ul>
            <li>Quản lý đăng tin các tour</li>
            <li>Quản lý hóa đơn khách hàng khi đăng ký tour.</li>
            <li>Quản lý các thông tin phản hồi của khách hàng.</li>
        </ul>
        </p>
        <p><b>Bài tập lớn môn WWW - DHKTPM13B</b></p>
        <p><i>Thành viên:</i></p>
        <ul>
            <li>Võ Tuấn Phương - 1730061</li>
            <li>Bùi Đức Thiện - 17041331</li>
            <li>Nguyễn Vinh Long Vinh - 17036561</li>
            <li>Phan Trọng Hinh - 17015461</li>
            <li>Hoàng Như Việt Tường - 17029941</li>
        </ul>
    </div>
</div>
